/* Css for the first page of the app with the list of nonprofit responses */


body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#nccnp {
    height: 20%;
}

#buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}

#uploadBtn {
    margin-top: 40%;
}

#instructions {
    margin: 0 auto;
}


#nonprofit {
    border: 2px solid #018eaa;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    padding-left: 2%;
}

#fileBtn {
    background-color: #018eaa;
    width: 100px;
    height: 45px;
    text-align: center;
    margin-top: 12%;
    color: white;
    font-size: 15px;
    margin-left: 13%;
    font-family: Lato;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    line-height: 40px;
}

#upload {
    display: none;
}

#selected {
    position: relative;
    left: 915px;
    bottom: 70px;
}

p {
    font-family: Lato;
}

#error {
    width: 100%;
    margin-left: 27%;
    font-family: Lato;
    color:#018eaa;
}

h4 {
    font-family: Lato;
    color: #b7bf35;
}

#update {
    background-color: #762F89;
    width: 100px;
    height: 45px;
    text-align: center;
    margin-top: 12%;
    color: white;
    font-size: 15px;
    margin-left: 13%;
}

#search {
    border: 2px solid #018eaa;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    padding-left: 2%;
    margin-top: 12%;
}

#errors {
    width: 100%;
}

#surveyList {
    border: 1px solid black;
    width: 95%;
    margin: 0 2%;
    height: 325px;
    border-collapse: collapse;
    overflow-y: scroll;
}

#tableForm {
    width: 100%;
}

#table {
     width: 100%;
     height: 95%;
}

th {
    padding-bottom: 10px;
    font-size: 20px;
    padding-right: 90px;
    font-family: Lato;
}

td {
    font-size: 18px;
    font-family: Lato;
}

tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    height: 40px;
    margin-top: 5px;
}

.npNameTd {
  width: 30%;
}

.editedTd {
 width: 15%;
 margin-left: 13%;
}

#editDiv {
    background-color: #b7bf35;
    height: 30px;
    width: 50px;
    text-align: center;
    margin: none;
}

.edit {
    text-decoration: none;
    background-color: #b7bf35;
    text-align: center;
    height: 30px;
    
}

.goals {
    text-decoration: none;
    background-color: #018eaa;
    text-align: center;
    height: 30px;
    color: white;
}

.actionSteps {
    text-decoration: none;
    margin-right: 5px;
    background-color: #762F89;
    text-align: center;
    height: 30px;
    color: white;
}

#editText {
    color: black;
    line-height: 30px;
    margin: 1px 0;
}

img:last-of-type {
  display: none;
}

#nccnp {
    display: block;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #018eaa;
    border-radius: 10px;
  }